/* Estilos básicos */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%; /* Define a largura para 100% da largura do viewport */
  background-color: #deb887;
}
header h1 {
  color: #fff;
  margin-left: 20px;
  text-shadow: 2px 2px 2px #4c4b4b;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}

#cart {
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 2.5rem; /* Espaços laterais dos cards */
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.product img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.product button {
  background-color: #489bce;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.botao-fin {
  background-color: #489bce;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  justify-content: center;
  width: 30%;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.carrinho-botao {
  background-color: #47a75f;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 100px;
  padding: 5px 16px;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.cart-container {
  width: 30%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

#cart-items {
  list-style: none;
  padding: 0;
}

#cart-items li {
  margin-bottom: 10px;
}

#cart-total {
  margin-top: 20px;
}

/* Estilos anteriores */

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img-product {
  width: 150px;
}
.lista-modal {
  display: none;
}
